.logo {
  padding: 1.5rem 4.5rem;
}

.card.login {
  max-width: 1160px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0;
  filter: drop-shadow(0px 8px 20px rgba(16, 24, 40, 0.1));
}

.card-body {
  width: 100%;
  display: flex;
  padding: 0;
}

.login-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
}

.login-card-body {
  background-color: #ffffff;
  height: 100%;
  padding: 2.5rem;
}

.login-title {
  color: #002855;
  font-size: 24px;
}

.login-paragraph {
  color: #657889;
  font-size: 14px;
}

.login-details {
  color: #002855;
  font-size: 16px;
}

.label {
  color: #2e3337;
}

.input-box {
  background-color: #ffffff;
  border: 1px solid #aebfd1;
}
::placeholder {
  color: #c6d3de;
  font-size: 14px;
}
.input-box:focus {
  outline: none;
}

#login-Button-disabled {
  background-color: #c6d3de;
  color: black;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding: 2px;
  margin-top: 20px;
}

#login-Button-active {
  background-color: #ddad31;
  color: black;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  padding: 2px;
  margin-top: 20px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #ffffff;
  filter: drop-shadow(8px 0px 20px rgba(16, 24, 40, 0.1));
  border: 1px #ffffff solid;
}

.profile-info {
  display: flex;
  align-items: center;
}

.name {
  color: #002855;
  font-size: 16px;
  font-weight: 500;
}

.serial-number {
  color: #657889;
  font-size: 16px;
}

.log-out {
  border: none;
  outline: none;
  background: none;
  color: #002855;
  background-color: #fbf3dd;
  font-weight: 500;
}

.main {
  max-width: 670px;
  margin: auto;
  background-color: #f8fbfd;
}

.statement-generator {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #002855;
}

.card.details {
  background-color: #ffffff;
  filter: drop-shadow(8px 0px 20px rgba(16, 24, 40, 0.1));
  border: 0;
  border-radius: 10px;
}

.card-body.details {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #657889;
}

.button {
  border: none;
  outline: none;
  background: none;
  border-radius: 4px;
  color: #657889;
  padding: 0.5rem 0;
  width: 31%;
}

.generate {
  font-weight: 500;
  background-color: #ebedef;
  margin-bottom: 0.5rem;
}

.clear {
  font-weight: 500;
  border: 1px solid #ebedef;
}

.details-paragraph {
  font-size: 14px;
  color: #2e3337;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.account-number {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.equal-padding {
  padding: 24px 40px !important;
}
.form-card {
  min-width: 48.625rem !important;
  background-color: #ffffff;
  filter: drop-shadow(8px 0px 20px rgba(16, 24, 40, 0.1));
  border: 0;
  border-radius: 10px;
}

.form-label {
  font-size: 14px;
  color: #657889;
}

.form-input {
  width: 92%;
}
.form-input::placeholder {
  font-size: 12px;
  color: #c6d3de;
}

.form-check {
  border: 0.5px solid #aebfd1;
  border-radius: 4px;
  width: 35%;
  padding: 0.5rem 0.5rem 0 3rem;
}

.date-range {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.form-date {
  width: 115%;
}

.charge-type {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.form-check.charge {
  border: 0.5px solid #aebfd1;
  border-radius: 4px;
  width: 30%;
  padding: 0.5rem 0.5rem 0 3rem;
}

.form-label.charge {
  font-size: 12px;
}

.fetch-button {
  background-color: #e8effb;
  color: #002855;
  font-size: 14px;
  width: 100%;
}

.statement-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.input-boxx {
  outline: none;
  border: none;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.passwordEye {
  position: fixed;
  z-index: 999;
  top: 53%;
  left: 87%;
}


#modalBody {
  height: 500px;
  width: 484px;
  top: 22%;
  background-color: #fdfdfd;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: #ebedef;
  border-radius: 20px;
}

#modalGif {
  height: 300px;
  width: 300px;
}

#modalBody p {
  font-weight: 700;
  font-size: large;
}
/* for the detail component */
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 40px;
  gap: 10px;
  background: #f6f7f9;
  border: none !important;
}
.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2e3337;
}
.card-body{
  justify-content: space-between;
}
.inner-card-title small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #657889;
}
.inner-card-title div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #657889;
  white-space: nowrap;
}
